.background-container {
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

.background-image {
    width: max-content;
    height: auto;
    object-fit: cover;
}


.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

