.app-bar {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: none;
}

.app-bar .MuiToolbar-root {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-bar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.app-bar .MuiButton-root {
    color: white;
}

.app-bar .MuiIconButton-root {
    color: white;
}
